body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #80808038;
    font-family: sans-serif;
}

.title {
    background-color: white;
    width: 100%;
    text-align: center;
}

.cards {
    background-color: white;
    width: 600px;
    height: auto;
    margin-top: 50px;
}

.headerPost {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.headerPost h2 {
    font-size: 25px;
}

.headerPost p {
    text-align: right;
    font-size: 15px;
}

.imgCard {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.imgCard img {
    width: 600px;
}

.cardFooter {
    padding: 0px 20px;
}